{% extends "base.html" %}
{% block content %}
<h1 class="h2">AIP UUID: {{ aip_uuid }}</h1>
<p><strong>METS File:</strong> {{ mets_file }}</p>

<!-- Dublin Core descriptive metadata -->
{% if dcmetadata %}
<h2 class="h3">Descriptive metadata</h2>
<dl class="row">
  {% for element in dcmetadata %}
    <dt class="col-sm-3">{{ element['element'].title() }}:</dt>
    <dd class="col-sm-9">{{ element['value'] }}</dd>
  {% endfor %}
</dl>
{% endif %}

<!-- Original files table -->
{% if original_files %}

<!-- Formats chart -->
<h2 class="h3">Data visualization</h2>
<div class="well" style="margin: 10px;">
  <canvas id="chart" width="400" height="400" aria-label="Format pie chart" role="img">
    <!-- Fallback text -->
    <p>Canvas element not supported.</p>
  </canvas>
</div>


<h2 class="h3">Original files (count: {{ filecount }})</h2>
<tagline class="text-muted"><em>Click on any column header to sort the table by that value.</em></tagline>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed sortable">
    <thead>
      <tr>
        <th>Filepath</th>
        <th>Format</th>
        <th>Version</th>
        <th>PUID</th>
        <th>Size (bytes)</th>
        <th>Last modified</th>
        <th>UUID</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
    {% for original_file in original_files %}
        <tr>
          <td>{{ original_file['filepath'] }}</td>
          <td>{{ original_file['format'] }}</td>
          <td>{{ original_file['version'] }}</td>
          <td>{{ original_file['puid']|safe }}</td>
          <td>{{ original_file['bytes'] }}</td>
          <td>{{ original_file['modified_ois'] }}</td>
          <td>{{ original_file['uuid'] }}</td>
          <td><a href="/aip/{{ mets_file }}/file/{{ original_file['uuid'] }}"><button class="btn btn-primary">View</button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  let randCols = []
  let jsonLabels = {{ labels|tojson }}
  let jsonValues = {{ values|tojson }}

  let makeColor = function() {
    var r = Math.floor(Math.random() * 255)
    var g = Math.floor(Math.random() * 255)
    var b = Math.floor(Math.random() * 255)
    return "rgb(" + r + "," + g + "," + b + ")"
  }
  for (let x=0;x<jsonValues.length;x++){randCols.push(makeColor())}

  let canvas = document.getElementById("chart")
  let ctx = canvas.getContext("2d")

  let config = {
      type: 'pie',
      data: {
        labels: jsonLabels,
        datasets: [{
          data: jsonValues,
          label: "Formats chart",
          backgroundColor: randCols,
        }],
      },
      options: {responsive: false},
    }
   let myPie = new Chart(ctx, config)
</script>
{% endif %}
{% endblock %}

