{% extends "base.html" %}
{% block content %}
<h1 class="h2">File UUID: {{ original_file['uuid'] }}</h1>
<tagline><strong>METS File:</strong> {{ mets_file }}</tagline>

<div class="card" style="margin-top: 10px; margin-bottom: 10px;">
  <h2 class="card-header h3">File details</h2>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-2">Filepath:</dt>
      <dd class="col-sm-10">{{ original_file['filepath'] }}</dd>
      <dt class="col-sm-2">Last modified:</dt>
      <dd class="col-sm-10">{{ original_file['modified_ois'] }}</dd>
      <dt class="col-sm-2">Size (human-readable):</dt>
      <dd class="col-sm-10">{{ original_file['size'] }}</dd>
      <dt class="col-sm-2">Size (bytes):</dt>
      <dd class="col-sm-10">{{ original_file['bytes'] }}</dd>
      <dt class="col-sm-2">File format:</dt>
      <dd class="col-sm-10">{{ original_file['format'] }}</dd>
      <dt class="col-sm-2">Version:</dt>
      <dd class="col-sm-10">{{ original_file['version'] }}</dd>
      <dt class="col-sm-2">PRONOM ID (PUID):</dt>
      <dd class="col-sm-10">{{ original_file['puid']|safe }}</dd>
      <dt class="col-sm-2">amdSec ID:</dt>
      <dd class="col-sm-10">{{ original_file['amdsec_id'] }}</dd>
      <dt class="col-sm-2">{{ original_file['hashtype'] }} hash:</dt>
      <dd class="col-sm-10">{{ original_file['hashvalue'] }}</dd>
    </dl>
  </div>
</div>

<div class="card" style="margin-top: 10px; margin-bottom: 10px;">
  <h2 class="card-header h3">PREMIS Events</h2>
  <div class="card-body">
    {% for premis_event in original_file['premis_events'] %}
    <h3 class="h4">Event UUID: {{ premis_event['event_uuid'] }}</h4>
    <dl class="row">
      <dt class="col-sm-2">Event type:</dt>
      <dd class="col-sm-10">{{ premis_event['event_type'] }}</dd>
      <dt class="col-sm-2">Event datetime:</dt>
      <dd class="col-sm-10">{{ premis_event['event_datetime'] }}</dd>
      <dt class="col-sm-2">Event detail:</dt>
      <dd class="col-sm-10">{{ premis_event['event_detail'] }}</dd>
      <dt class="col-sm-2">Event outcome:</dt>
      <dd class="col-sm-10">{{ premis_event['event_outcome'] }}</dd>
      <dt class="col-sm-2">Event detail note:</dt>
      <dd class="col-sm-10">{{ premis_event['event_detail_note'] }}</dd>
      {% for premis_agent in premis_event['premis_agents'] %}
        <p><strong>PREMIS Agent</strong></p>
        <p>Agent type: {{ premis_agent['agent_type'] }}</p>
        <p>Agent value: {{ premis_agent['agent_value'] }}</p>
      {% endfor %}
    </dl>
    {% endfor %}
  </div>
</div>
{% endblock %}
