{% extends "base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<h1>METSFlask</h1>
<tagline class="text-muted">A web application for human-friendly exploration of Archivematica METS files.</tagline>
<br><br>
<h2 class="h3">METS Files to browse</h2>
{% if mets_instances %}
  <table class="table table-striped table-bordered table-condensed datatable">
    <tr>
    <td><strong>METS File</strong></td>
    <td><strong>Nickname</strong></td>
    <td><strong>Actions</strong></td>
    </tr>
      {% for mets_instance in mets_instances %}
        <tr>
          <td>{{ mets_instance.metsfile }}</td>
          <td>{{ mets_instance.nickname }}</td>
          <td><a href="/aip/{{ mets_instance.metsfile }}"><button class="btn btn-primary">View</button></a> <a href="/delete/{{ mets_instance.metsfile }}"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
      {% endfor %}
  </table>
{% else %}
  <p>No METS files to display. <a href="/upload">Upload one to get started</a>.</p>
{% endif %}
{% endblock %}