{% extends "base.html" %}
{% block content %}
<div class="card">
  <h1 class="card-header h3">Upload METS File</h1>
  <div class="card-body">
    <p>Upload a file below to begin exploring the contents of your METS files. As soon as you no longer need to view the contents of this METS file, you can delete it from the main METSFlask page.</p>
    <form action = "/uploadsuccess" method="POST" enctype="multipart/form-data">
       <div class="form-group">
         <label for="file">File</label>
         <input type="file" class="form-control-file" name="file" id="file"/>
       </div>
       <div class="form-group">
         <label for="nickname">Nickname</label>
         <input type="text" class="form-control" id="nickname" name="nickname" aria-describedby="nicknameHelpBlock"/>
         <small id="nicknameHelpBlock" class="form-text text-muted">
            This is optional, but will make your METS file easier to find in the list.
         </small>
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>  
{% endblock %}