<!DOCTYPE html>
<html lang="en">
<head>
    <title>METSFlask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="static/sorttable.js"></script>
</head>
<body>
<h1>METSFlask</h1>
<h3>Sortable table of original files</h3>
<table class="table table-striped table-bordered table-condensed sortable">
<tr>
  <td><strong>Filepath</strong></td>
  <td><strong>Format</strong></td>
  <td><strong>Version</strong></td>
  <td><strong>PUID</strong></td>
  <td><strong>Size (bytes)</strong></td>
  <td><strong>UUID</strong></td>
  <td><strong>Details</strong></td>
</tr>
{% if original_files %}
    {% for original_file in original_files %}
        <tr>
          
          <td>{{ original_file['filepath'] }}</td>
          <td>{{ original_file['format'] }}</td>
          <td>{{ original_file['version'] }}</td>
          <td>{{ original_file['puid']|safe }}</td>
          <td>{{ original_file['bytes'] }}</td>
          <td>{{ original_file['uuid'] }}</td>
          <td><a href="/file/{{ original_file['uuid'] }}" target="_blank">Link</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    </table>
{% endif %}
</body>
</html>