<!DOCTYPE html>
<html lang="en">
<head>
    <title>METS-Flask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
</head>
<body> 
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">METSFlask</a>
    </div>
  </div>
</nav>
 <div class="container">
  <h3>Upload a METS XML file:</h3>
  <form action = "/originalfiles" method="POST" enctype="multipart/form-data">
     <input type="file" name ="file"/>
     <br>
     <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
 </body>
</html>