{% extends "base.html" %}
{% block content %}
  <h4>METS Files to browse:</h4>
  <table class="table table-striped table-bordered table-condensed sortable">
  <tr>
  <td><strong>METS File</strong></td>
  <td><strong>View AIP details</strong></td>
  </tr>
  {% if mets_instances %}
    {% for mets_instance in mets_instances %}
      <tr>
        <td>{{ mets_instance.metsfile }}</td>
        <td><a href="/aip/{{ mets_instance.metsfile }}" target="_blank">Link</a></td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>
{% endblock %}