{% extends "base.html" %}
{% block content %}
<p><strong>METS File:</strong> {{ aip_name }}</p>
<p><em>Click on any column header to sort the table by that value.</em></p>
<table class="table table-striped table-bordered table-condensed sortable">
<tr>
  <td><strong>Filepath</strong></td>
  <td><strong>Format</strong></td>
  <td><strong>Version</strong></td>
  <td><strong>PUID</strong></td>
  <td><strong>Size (bytes)</strong></td>
  <td><strong>UUID</strong></td>
  <td><strong>Details</strong></td>
</tr>
{% if original_files %}
    {% for original_file in original_files %}
        <tr>
          
          <td>{{ original_file['filepath'] }}</td>
          <td>{{ original_file['format'] }}</td>
          <td>{{ original_file['version'] }}</td>
          <td>{{ original_file['puid']|safe }}</td>
          <td>{{ original_file['bytes'] }}</td>
          <td>{{ original_file['uuid'] }}</td>
          <td><a href="/file/{{ original_file['uuid'] }}" target="_blank">Link</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    </table>
{% endif %}
{% endblock %}